.git
.gitignore
.env
.target
target/
Cargo.lock
README.md
Dockerfile
.dockerignore
*.md
.gitattributes
*.toml
!Cargo.toml
!Cargo.lock
**/.DS_Store
**/Thumbs.db
**/.git
**/.svn
**/.hg
**/.idea
**/.vscode
**/coverage
**/.nyc_output
**/build
**/bin
**/obj
**/.history
**/.coverage
**/env
**/.env
**/tmp
**/temp
**/logs
**/*.log
**/out
**/target/debug
**/target/release
**/target/wasm32-wasi
**/target/wasm32-unknown-unknown
