services:
  rust-app:
    build: .
    container_name: rust-app
    restart: on-failure
    ports:
      - "8080:8080"

  oauth-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    restart: always
    ports:
      - "4180:4180"
    environment:
      OAUTH2_PROXY_PROVIDER: "google"
      OAUTH2_PROXY_CLIENT_ID: "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
      OAUTH2_PROXY_CLIENT_SECRET: "YOUR_GOOGLE_CLIENT_SECRET"
      OAUTH2_PROXY_COOKIE_SECRET: "THE_32_BYTE_STRING_YOU_GENERATED"
      OAUTH2_PROXY_EMAIL_DOMAINS: "*" # Change to "yourdomain.com" to restrict to an org
      OAUTH2_PROXY_HTTP_ADDRESS: "0.0.0.0:4180"
      OAUTH2_PROXY_REVERSE_PROXY: "true"
      OAUTH2_PROXY_REDIRECT_URL: "https://yourdomain.com/oauth2/callback"
      # OAUTH2_PROXY_AUTHENTICATED_EMAILS_FILE: "/whitelist.txt"
