services:
  rust-app:
    build: .
    container_name: rust-app
    restart: on-failure
    ports:
      - "8080:8080"
    profiles:
      - dev

  rust-app-prod:
    image: ghcr.io/askaakura/rust-secure-app-oauth-proxy:master
    container_name: rust-app-prod
    restart: on-failure
    ports:
      - "8080:8080"
    profiles:
      - prod

  oauth-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    container_name: oauth-proxy
    restart: always
    ports:
      - "4180:4180"
    volumes:
      - ./config/whitelist.txt:/whitelist.txt
    env_file:
      - .env
    profiles:
      - dev
      - prod
